.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.clock {
  width: 500px;
  height: 400px;
  background-color: #f0d5de;
  border-radius: 100px;
}

.break-session {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buttonsWrapper {
  width: 115px;
  height: 35px;
}
